{% extends "forum/layout.html" %}
{% load static %}

{% block body %}
    <div class="posts-page" data-viewer="{{ request.user.username }}">
        <div class="post-div" data-post="{{ post.id }}">
            <a type="button" class="btn btn-outline-dark" id="back-button" href="{{ request.META.HTTP_REFERER }}" role="button">
                <i class="fas fa-times" id="back-icon"></i> 
            </a>
            <h2>
                <a href="{% url 'view-user' post.author %}" class="post-user">
                    {{ post.author }}
                </a>
            </h2>
            {% if request.user == post.author %}
                <button type="button" class="btn btn-outline-warning">
                    Edit
                </button>
            {% endif %}
            {% if post.thumb %}
                <img class="post-img" src="{{ post.thumb.url }}">
            {% endif %}
            <h5 class="post-content">{{ post.content|urlize }}</h5>
            <p class="post-timestamp">{{ post.timestamp|date:"N j Y, g:i A" }}</p>
            {% if user.is_authenticated %}
                <button class="btn" id="like-button">
                    <i class='far fa-thumbs-up' id="like-icon"></i>
                </button>
                <p class="post-likecount">{{ post.like_users.count }}</p>
                <a id="comment-button" type="button" class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}" role="button">
                    Comments ({{ post.child_posts.count }})
                </a>
            {% endif %}
            <hr>
            <div class="comments-header">
                <h3 class="comments-header-text">All Comments</h3>
            </div>
            <hr>
            {% if user.is_authenticated %}
                <h4>New Comment</h4>
                <form>
                    <textarea id="post-textarea" placeholder="Start typing your comment here..."></textarea>
                    <input type="file" name="img" id="image-upload-button">
                    <button type="button" class="btn btn-info" id="submit-post-comment">Submit</button>
                </form>
                <hr>
            {% endif %}
            <div class="all-comments-div">
                {% for comment in comments %}
                <div class="comment-div" data-comment="{{ comment.id }}">
                    <h5>
                        <a href="{% url 'view-user' comment.author %}" class="post-user">
                            {{ comment.author }}
                        </a>
                    </h5>
                    {% if request.user == comment.author %}
                        <button type="button" class="btn btn-outline-warning">
                            Edit
                        </button>
                    {% endif %}
                    {% if comment.thumb %}
                        <img class="post-img" src="{{ comment.thumb.url }}">
                    {% endif %}
                    <p class="post-content">{{ comment.content|urlize }}</p>
                    <p class="post-timestamp">{{ comment.timestamp|date:"M j Y, g:i A" }}</p>
                    {% if user.is_authenticated %}
                        <button class="btn" id="like-button">
                            <i class='far fa-thumbs-up' id="like-icon"></i>
                        </button>
                        <p class="post-likecount">{{ comment.like_users.count }}</p>
                    {% endif %}
                    <hr>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'forum/script.js' %}"></script>
{% endblock %}
