{% extends "forum/layout.html" %}

{% block body %}

    <h2 class="sign-in-title">Login</h2>

    <div class="post-div">
        {% if message %}
            <div>
                <strong class="sign-in-message">{{ message }}</strong>
            </div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary" id="sign-in-button" type="submit" value="Login">
        </form>

        Don't have an account? <a href="{% url 'register' %}">Register here.</a>

        <p class="registration-info">
            *If your account is inactive, you will not be able to log in. The site administrator will 
            activate your account. 
        </p>
    </div>

{% endblock %}
