{% extends "forum/layout.html" %}
{% load static %}
{% load embed_video_tags %}

{% block body %}
    <div class="posts-page" data-viewer="{{ request.user.username }}">
        {% if following_page %}
            <h2 class="follow-page-title">Following</h2>
        {% endif %}

        {% if user_page %}
            <h2 class="profile-name">{{ username }}'s Profile</h2>
            <div class="profile-info-div">
                <h3>Information</h3>
                <p class="profile-followers">{{ followers_count_text }}</p>
                {% if user.is_authenticated and not own_profile %}
                    <form action="{% url 'view-user' username %}" method="post">
                        {% csrf_token %}
                        <input id="follow-btn" type="submit" class="btn btn-outline-info" value="{{ follow_button_text }}"/>
                    </form>
                {% endif %}
                <p class="profile-following">{{ following_count_text }}</p>
            </div>
        {% endif %}

        {% if board_page %}
            <h1 class="board-name">{{ board.name }}</h1>
            <p class="board-description">{{ board.description }}</p>
            {% if user.is_authenticated %}
                <div class="post-div">
                    <h4>New Post</h4>
                    <form action="{% url 'view-board' board.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" class="btn btn-primary" id="submit-post-comment"/>
                    </form>
                </div>
            {% endif %}
            <div class="btn-group" id="sort-dropdown-div">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort posts by...
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'view-board' board.id %}?q=likes_high_low">Likes: High to Low</a>
                    <a class="dropdown-item" href="{% url 'view-board' board.id %}?q=likes_low_high">Likes: Low to High</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'view-board' board.id %}?q=comments_high_low">Comments: High to Low</a>
                    <a class="dropdown-item" href="{% url 'view-board' board.id %}?q=comments_low_high">Comments: Low to High</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'view-board' board.id %}?q=timestamp_new_old">Timestamp: New to Old</a>
                    <a class="dropdown-item" href="{% url 'view-board' board.id %}?q=timestamp_old_new">Timestamp: Old to New</a>
                </div>
            </div>
        {% endif %}
        
        {% for post in page_obj %}
            <div class="post-div" data-post="{{ post.id }}">
                <h5>
                    <a href="{% url 'view-user' post.author %}" class="post-user">
                        {{ post.author }}
                    </a>
                </h5>
                {% if following_page or user_page %}
                    <p class="post-board-text">
                        Foorum/ <a href="{% url 'view-board' post.board.id %}" class="post-board-link">
                            {{ post.board.name }}
                        </a>
                    </p>
                {% endif %}
                {% if request.user == post.author %}
                    <button type="button" class="btn btn-outline-warning">
                        Edit
                    </button>
                {% endif %}
                {% if post.thumb %}
                    <img class="post-img" src="{{ post.thumb.url }}">
                {% endif %}
                {% if post.video %}
                    <div class='video-embedded'>
                        {% video post.video 'tiny' %}
                    </div>
                {% endif %}
                <p class="post-content">{{ post.content|urlize }}</p>
                <p class="post-timestamp">{{ post.timestamp|date:"M j Y, g:i A" }}</p>
                {% if user.is_authenticated %}
                    <button class="btn" id="like-button">
                        <i class='far fa-thumbs-up' id="like-icon"></i>
                    </button>
                    <p class="post-likecount">{{ post.like_users.count }}</p>
                {% endif %}
                <a id="comment-button" type="button" class="btn btn-outline-secondary" href="{% url 'view-comments' post.id %}" role="button">
                    Comments ({{ post.child_posts.count }})
                </a>
            </div>
        {% empty %}
            <p class="empty-message">No posts.</p>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'forum/script.js' %}"></script>
{% endblock %}
